PORT=5000
MONGO_URI=mongodb+srv://kullanici:sifre@cluster.mongodb.net/yuvam
JWT_SECRET=gizli_anahtar_buraya

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

ONESIGNAL_APP_ID=onesignal-app-id
ONESIGNAL_REST_API_KEY=onesignal-rest-api-key

OPENAI_API_KEY=sk-...
